@page
@model Mission9_cpearce3.Pages.BuyCompleteModel
@{
}

<div class="txt-center">
    <h2>Thanks! We hope you enjoy your books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>